#box{
    
    /* background: linear-gradient(-45deg, #b9faf8 0%, #6f2dbd 100% ); */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
    /* background: linear-gradient(-45deg, #FFF000 0%, #ED008C 100% );  */
    height:470px;
    width: 450px;
    border: 1px solid white;
    border-radius: 30px;
    margin: auto;
    margin-top: 20px;
   
}
#form{
    display: grid;
    grid-template-columns: repeat(1,320px);
    justify-content: center;
    gap:20px;
    margin-top: 120px;
}
#form input{
    height:40px;
    border-radius: 5px;
    /* border: 1px solid black; */
}
h2{
    text-align: center;
    margin-top: -80px;
    /* color:white; */
}
#submit{
    height:40px;
    width:200px;
    cursor: pointer;
    color:white;
    background-color: rgb(84, 190, 255);
    border: none;
    border-radius: 5px;
    margin: 10px 60px;
}
#submit:hover{
    background-color: rgb(93, 211, 237);
}
@media screen and (max-width: 600px) {
 #box{
    height:220;
    width:220px
 }
 #form input{
    width:200px;
    margin: auto;
 }
  }
  @import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Noto+Sans&family=Roboto+Mono:ital,wght@0,300;1,400&family=Roboto:wght@100&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}